form {
  position: relative;
  overflow: none;
  padding: 0 0 1rem;
}

input,
textarea {
  border-radius: $border-rad-sm;
  padding: $padding-sm;
  font-size: 1rem;
  font-family: $font-default;
  width: 100%;
  max-width: 100%;
  display: block;
  border: none;
  box-sizing: border-box;
  transition: $smooth;
  &:hover {
    box-shadow: inset 4px 0 0 0 $blue;
    outline: none;
    outline-width: 0;
  }
}

input[type=text] {
  padding-right: 4rem;
}

textarea {
  margin-top: 1rem;
  min-height: 2.625rem;
}

button {
  display: block;
  padding: $padding-sm;
  border-radius: $border-rad-sm;
  text-align: center;
  border: 0 solid;
  background-color: $blue;
  font-family: $font-default;
  color: $white;
  position: absolute;
  right: 0;
  top: 0;
  &:hover {
    background-color: $blue-dark;
    cursor: pointer;
  }
}
